* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(bg.png);
}

button {
    border: none;
    width: 80px;
    height: 80px;
    margin-top: 4px;
    font-size: 30px;
    border-radius: 4px;
    font-weight: bold;
}

.c {
    height: 80px;
    width: 248px;
    background-color: rgb(56, 56, 56);
    color: white;
}

.txt {
    background-color: rgb(33, 33, 33);
    color: white;
    border: 1px solid rgb(56, 56, 56);
    height: 80px;
    width: 324px;
    border-radius: 4px;
    text-align: right;
    font-size: 80px;
    padding-right: 6px;
    pointer-events: none;
}

.cal {
    background-color: rgb(7, 7, 7);
    width: 340px;
    height: 594px;
    border-radius: 4px;
    border: 1px solid rgb(92, 92, 92);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    box-shadow: -9px 13px 25px rgb(0, 0, 0);
}

.pd {
    background-color: rgb(7, 7, 7);
    padding-left: 4px;
    border-radius: 4px;
    padding-top: 4px;
}

.cb {
    background-color: rgb(56, 56, 56);
    color: white;
}

.db {
    background-color: rgb(33, 33, 33);
    color: white;
}

.db:hover {
    background-color: rgb(70, 70, 70);
    color: white;
}

.cb:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}

.c:hover {
    background-color: rgb(37, 37, 37);
    color: white;
}

.ftr {
    bottom: 0%;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #2b2b2bb4;
    height: 23px;
    box-shadow: -0px -7px 10px #2b2b2bb4;
}

.ftr p {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    position: absolute;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: underline;
    color: white;
    font-family: 'Poppins', sans-serif;
}