*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(https://www.techrepublic.com/a/hub/i/r/2015/11/04/43845c6d-f6e2-48dd-9f67-e2199233b397/resize/1200x900/5f3e4c72a340e378044be365bc8b97d4/pc-tablet-smartphone-tpr-main.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    margin: 35px, 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 220px;
    height: 91px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 11px;
    vertical-align: middle;
}
.navbar ul li a{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    padding: 2px;
    font-size: 17px;
    transition: 0.3s;
}
.navbar ul li a:hover{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(255, 255, 255);
    padding: 2px;
    vertical-align: 7px;
    transition: 0.3s;
}
.about{
    border-bottom: 2px solid white;
}
.content{
    align-items: center;
    text-align: center;
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.content h2{
    font-size: 57px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    margin-bottom: 0px;
}
.content p{
    margin-top: 1px;
    color: #fff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
.btn{
    display: inline-block;
    justify-content: space-between;
    padding-top: 45px;
}
.btn a{
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    position: relative;
    font-size: 21px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid white;
    border-radius: 24px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}
.btn a:hover{
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid white;
    border-radius: 24px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}